#about-content {
  background-color: #f2f2f2;
  padding: 200px 0px 0px 0px;
  position: relative;
  overflow: hidden;
  background-image: url('../img/quote.png');
  overflow: hidden;
  z-index: 11;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 56% 240px;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#about {
  width: 850px;
  margin: 0 auto;
}

#headlines-about {
  padding: 0px;
  font-size: 4em;
  line-height: 0px;
  text-align: right;
  width: 300px;
  float: left;
  padding-right: 25px;
  margin-top: 31px;
  color: #32323c;
}

#about-me-box {
  width: 480px;
  float: left;
  padding-left: 25px;
  border-left: 5px solid #78b79c;
  font-size: 1em;
}
.skills-line {
  background-color: #78b79c;
  margin-top: 35px;
  margin-left: -25px;
  color: #f2f2f2;
  line-height: 30px;
  /* background-image: linear-gradient(-30deg, #9BFFFC, #4cd2da);
    background-image: -moz-linear-gradient(-30deg, #4cd2da, #9BFFFC);
    background-image: -o-linear-gradient(-30deg, #9BFFFC, #4cd2da);
    background-image: -webkit-linear-gradient(-30deg, #4cd2da, #9BFFFC); */
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  white-space: nowrap;
}
.skills-line span {
  padding-left: 5px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  opacity: 1;
}
.skills-line span.hidden {
  opacity: 0;
}
