#navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  background-color: #78b79c;
  line-height: 60px;
  margin-top: -126px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  color: #f2f2f2;
  opacity: 0.97;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

#navigation.visible {
  margin-top: 0px;
}
.navigation-wrapper {
  text-align: center;
  text-transform: uppercase;
}

.navigation-wrapper span {
  padding-right: 15px;
  font-weight: 700;
  font-family: 'caviar_dreamsbold', sans-serif;
}

.navigation-wrapper span.navigation-name {
  font-size: 2em;
  font-family: 'limerick-xlightregular', sans-serif;
  padding-right: 23%;
  font-weight: 700;
  color: #32323c;
}

.nav-link {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.nav-link.active {
  color: #32323c;
}

.nav-link:hover {
  color: #32323c !important;

  cursor: pointer;
}

@media screen and (max-width: 667px) {
  .navigation-wrapper span.navigation-name {
    display: none;
  }
}
