[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bethgilomen' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-onespot:before {
  content: '\e900';
}
.icon-corvisa:before {
  content: '\e901';
}
.icon-js:before {
  content: '\e902';
}
.icon-shoretel:before {
  content: '\e903';
}
.icon-dailyillini:before {
  content: '\e904';
}
.custom-icon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1em;
  margin-top: 7px !important;
  margin-left: 6px;
  color: #32323c;
}

#resume-content {
  border: none;
  padding: 200px 0px 0px 0px;
  position: relative;
  overflow: hidden;
  background: #3e3e3e url('../img/work.png') no-repeat fixed 56% 240px;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#resume {
  width: 850px;
  margin: 0 auto;
}

#resume-others {
  width: 480px;
  float: left;
  padding-left: 25px;
  font-size: 0.8em;
  color: #f2f2f2;
}

.resume-section {
  margin-top: 60px;
}

#headlines-resume {
  font-size: 4em;
  color: #f2f2f2;
  text-align: center;
  margin-top: -15px;
  padding-right: 25px;
  float: left;
  width: 300px;
}

.resume-section-header {
  font-size: 1.2em;
  margin-left: -185px;
  margin-top: -2px;
  position: absolute;
  color: #f2f2f2;
  font-weight: 700;
  text-align: right;
  width: 125px;
  font-family: 'caviar_dreamsbold', sans-serif;
}

.resume-section-header-resp {
  display: none;
}

.resume-section .title {
  color: #78b79c;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0;
  font-family: 'caviar_dreamsbold', sans-serif;
}

.resume-section .subhead {
  font-weight: 700;
  font-size: 1.1em;
  font-family: 'caviar_dreamsitalic', sans-serif;
}

.resume-section .resume-item {
  padding-bottom: 15px;
}

.push-next {
  float: left;
  width: 300px;
  height: 1px;
}

.resume-other-container {
  margin-top: 75px;
  display: inline-block;
}

#resume-box {
  width: 480px;
  float: left;
  padding-left: 25px;
  border-left: 5px solid #78b79c;
  font-size: 1em;
  color: #f2f2f2;
}
.position {
  margin-top: -2px;
  padding-bottom: 20px;
}
.company-icon {
  background-color: #78b79c;
  width: 30px;
  height: 30px;
  border-radius: 90%;
  float: left;
  margin-left: -43px;
  margin-top: -2px;
}

.year-beth {
  font-size: 1em;
  margin-left: -185px;
  margin-top: 0px;
  position: absolute;
  color: #f2f2f2;
  font-weight: 700;
  text-align: right;
  width: 125px;
  font-family: 'caviar_dreamsbold', sans-serif;
}

.company {
  color: #78b79c;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: 'caviar_dreamsbold', sans-serif;
  margin-bottom: 0px;
}

.company:first-of-type {
  margin-top: 0px;
}
.position-title {
  font-weight: 700;
  font-size: 1.1em;
  font-family: 'caviar_dreamsitalic', sans-serif;
  font-style: italic;
  text-transform: lowercase;
  margin-top: 0px;
}
.last-description {
  margin-bottom: 0px;
}
.last-selection {
  padding-bottom: 3px;
}
